<div class="content">
    <div *ngIf="font">
        <p>Guess the font:</p>
        <link rel="stylesheet" [href]="'https://fonts.googleapis.com/css?family=' + font | safe">
        <div [style]="'font-family: ' + font +', serif;'">{{pangram}}</div>

        <input #box (keyup.enter)="onSubmit(box)">
        <button (click)="onSubmit(box)">Guess!</button>

        <p>{{points}} points</p>
        <p *ngIf="result">Correct!</p>
        <p *ngIf="!result && answer">False! Correct answer was {{font}}</p>
    </div>
</div>
